*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 450px;
}
.card{
    border-radius: 30px;
    background-color: aqua;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 50px;
    text-decoration: none;
}
img{
    border-radius: 40px;
    margin-bottom: 20px;
    height: 200px;
}
.buttons{
    margin-top: 40px;
}
.buttons a{
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}
.button a:hover{
    background-color: gray;
}

